<h1 class="mt-5 text-center"> Login</h1>
<form class="mt-5 col-md-4 offset-md-4" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" id="email" aria-describedby="email" formControlName="email" [ngClass]="{'is-invalid': isEmailRequired || isEmailInvalid }">
    <div class="invalid-feedback" *ngIf="isEmailRequired || isEmailInvalid">
      <label *ngIf="isEmailRequired">E-mail is required</label>
      <label *ngIf="isEmailInvalid">E-mail is not valid</label>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
    <div class="invalid-feedback" *ngIf="isPasswordRequired || isPasswordMinlegth || isPasswordMinlegth">
      <label *ngIf="isPasswordRequired">Password is required</label>
      <label *ngIf="isPasswordMinlegth">Password is at least 8 characters long</label>
      <label *ngIf="isPasswordMaxlegth">Password cannot be longer than 50 characters</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="isFormInvalid" >Login</button>
  <div *ngIf="loginError" class="alert alert-danger mt-2" role="alert">
    {{ loginError }}
  </div>
</form>


