<div class="col-md-10 offset-md-1 mt-3">
    <nav class="navbar navbar-expand-lg alert-secondary mb-2"><a class="navbar-brand" [routerLink]="['/', 'home', 'people' ]" routerLinkActive="router-link-active" ><i class="fas fa-arrow-left"></i></a>

    </nav>
    <div class="card mb-3">
      <img [src]="bio?.person.picture" class="card-img-top rounded-circle mx-auto d-block mt-1"
        style="width:150px; height: 150px;" alt="bio-picture">
      <div class="card-body">
        <h2 class="card-title">{{ bio?.person.name }}</h2>
        <p class="card-text">{{ bio?.person.professionalHeadline }}</p>
        <p class="text-center">
          <a [href]="link.address" *ngFor="let link of bio?.person.links" class="badge badge-primary ml-2" target="_blank" ><i [class]="'fab fa-2x fa-'+link.name"></i></a>
        </p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
      <ul class="nav nav-tabs ml-2 mb-4" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" title="Skills" id="skills-tab" data-toggle="tab" [href]="'#skills-'+ bio?.person.subjectId"
            role="tab" aria-controls="skills" aria-selected="true"><i class="fas fa-tasks"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Location" id="location-tab" data-toggle="tab" [href]="'#location-'+ bio?.person.subjectId"
            role="tab" aria-controls="location" aria-selected="false"><i class="fas fa-map-marked-alt"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Education" id="education-tab" data-toggle="tab"
            [href]="'#education-'+ bio?.person.subjectId" role="tab" aria-controls="education" aria-selected="false"><i class="fas fa-graduation-cap"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Languages" id="languages-tab" data-toggle="tab"
            [href]="'#languages-'+ bio?.person.subjectId" role="tab" aria-controls="language" aria-selected="false"><i class="fas fa-language"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Interest" id="interests-tab" data-toggle="tab"
            [href]="'#interests-'+ bio?.person.subjectId" role="tab" aria-controls="interests" aria-selected="false"><i class="fas fa-thumbs-up"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Experiences" id="experiences-tab" data-toggle="tab"
            [href]="'#experiences-'+ bio?.person.subjectId" role="tab" aria-controls="experiences" aria-selected="false"><i class="fas fa-thumbtack"></i></a>
        </li>
      </ul>
      <div class="tab-content m-2 ">
        <div class="tab-pane active" [id]="'skills-'+ bio?.person.subjectId" role="tabpanel" aria-labelledby="skills-tab">
          <span class="badge badge-secondary ml-1" *ngFor="let skill of bio?.strengths">{{ skill.name }}</span>
        </div>
        <div class="tab-pane" [id]="'location-'+ bio?.person.subjectId" role="tabpanel" aria-labelledby="location-tab">
          {{ bio?.person.location.name }}
        </div>
        <div class="tab-pane" [id]="'education-'+ bio?.person.subjectId" role="tabpanel" aria-labelledby="education-tab">
          <div class="card mb-2" *ngFor="let education of bio?.education">
            <div class="card-body">
              <h4 class="card-title">{{ education.name }}</h4>
              <h6 class="card-subtitle" *ngFor="let organization of education.organizations">{{ organization.name }}</h6>
              <p class="card-text">{{ education.fromMonth }}, {{ education.fromYear }} / {{ education.toMonth }}, {{ education.toYear }}</p>

            </div>
          </div>
        </div>
        <div class="tab-pane" [id]="'languages-'+ bio?.person.subjectId" role="tabpanel" aria-labelledby="language-tab">
          <div class="card mb-2" *ngFor="let language of bio?.languages">
            <div class="card-body">
              <h4 class="card-title">{{ language.language }}</h4>
              <p class="card-text">{{ language.fluency }}</p>

            </div>
          </div>
        </div>
        <div class="tab-pane" [id]="'interests-'+ bio?.person.subjectId" role="tabpanel" aria-labelledby="interests-tab">
          <span class="badge badge-pill badge-success ml-2" *ngFor="let interest of bio?.interests">{{ interest.name }}</span>
        </div>
        <div class="tab-pane" [id]="'experiences-'+ bio?.person.subjectId" role="tabpanel" aria-labelledby="experiences-tab">
          <div *ngFor="let experience of bio?.experiences">
            <div class="card mb-2" *ngIf="experience.category == 'projects'">
              <div class="card-body">
                <h4 class="card-title">{{ experience.name }}</h4>
                <h6 class="card-subtitle" *ngFor="let organization of experience.organizations">{{ organization.name }}</h6>
                <p class="card-text">{{ experience.fromMonth }}, {{ experience.fromYear }} / <span >{{ experience.toMonth }},
                  {{ experience.toYear }}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
